.bug-list{ style: "width: 99%; height: 680px; overflow: auto" }
  - if !@bugs.empty?
    %table.table.table-bordered.bugs-table{ style: "width: 99.9%;" }
      %tr
        %th{ bgcolor: "white" }
          Bug id
        %th
          Summary
        %th
          Status
        %th
          Verificators
      - @bugs.each do |bug|
        %tr.bug-row.collapse.in{ bgcolor: { 'DOCUMENTED' => '#67E46F', 'VERIFIED' => '#67E46F', 'TO-DOCUMENT' => '#6C8CD5', 'TO-VERIFY' => '#6C8CD5', 'REOPENED' => '#FF7373', 'CLOSED' => '#848181' }[bug[:status]], class: bug[:status].downcase + " " + "included-#{ bug[:included].to_s } " + (bug[:assignments].map{ |assignment| assignment[:tester] }.include?(current_user.email) ? "current-user-bug" : ""), title: bug[:included] ? "" : "Last commit in this bug made AFTER build release" }
          %td{ style: "vertical-align: middle; width: 65px", bgcolor: "white" }
            .bug-link-container
              %font
                = link_to bug[:id], Settings.bugzilla_url + '/show_bug.cgi?id=' + bug[:id].to_s, target: '_blank'
          %td{ style: "vertical-align:middle;" }
            %b= "[" + bug[:product] + "] "
            = bug[:summary]
          %td{ style: "vertical-align: middle; width: 125px; align: center" }
            %strong= bug[:status]
          %td{ style: "vertical-align: middle; width: 350px" }
            - if !bug[:assignments].empty?
              %table
                - bug[:assignments].each do |assignment|
                  %tr
                    %td{ style: current_user.email == assignment[:tester] ? "font-weight: bold;" : "" }= assignment[:tester] + ' (' + assignment[:assignment] + ')'
  - else
    No bug found
