%table.stats-title
  %tr
    %td
      - if !@build.processed
        = image_tag "not_fully_processed-large.png", title: "Verification is not completed!", id: "large-status-icon", class: "not_fully_processed"
      - else 
        = image_tag "processed-large.png", title: "Verification completed", id: "large-status-icon", class: "processed"
    %td.build-number
      %strong
        = @build.number + ' (' + @build.tag + ')'
    %td.refresh
      = link_to image_tag("refresh.png"), @build, remote: true, title: "Refresh"

%table.stats
  - ['VERIFIED', 'TO-VERIFY', 'REOPENED', 'CLOSED', 'RESOLVED'].each do |status|
    %tr{ class: status.downcase + "-row" }
      %td= check_box_tag status.downcase, 1, true, class: status.downcase + " stats-checkbox"
      %td.status{ class: status.downcase }= status
      %td.value= @bugs.find_all{ |bug| bug[:status] == status }.length
  %tr
    %td
    %td= "TOTAL"
    %td.value= @bugs.length 
  %tr{ title: "Show/Hide bugs, which got new commits after build release" }
    %td= check_box_tag "included-false", 1, true, class: "included-false stats-checkbox" 
    %td= "Not included"
    %td.value
  %tr{ title: "Show my bugs ONLY", hidden: current_user.tester? ? false : 'hidden' }
    %td= check_box_tag "verificator", 1, false, class: "verificator stats-checkbox"
    %td= "My bugs only"
    %td.value
