- provide :title, " | #{ @build.number } (#{ @build.tag })"

%strong
  = @build.number + ' (' + @build.tag + ')'

- if !@bugs.empty?
  %table.table.table-bordered
    %tr
      %th{ bgcolor: "white" }
        Bug number
      %th
        Summary
      %th
        Status
      %th
        Verificators
    - @bugs.each do |bug|
      - if bug[:included]
        %tr{ bgcolor: { 'VERIFIED' => '#67E46F', 'TO-VERIFY' => '#6C8CD5', 'REOPENED' => '#FF7373', 'CLOSED' => '#848181' }[bug[:status]] }
          %td{ style: "vertical-align:middle", bgcolor: "white" }
            = link_to bug[:id], Settings.bugzilla_url + '/show_bug.cgi?id=' + bug[:id].to_s, target: '_blank'
          %td{ style: "vertical-align:middle" }
            = bug[:summary]
          %td{ style: "vertical-align:middle" }
            %strong= bug[:status]
            /- if !bug[:included]
            /  %br
            /  Last commit made AFTER build release!!
          %td{ style: "vertical-align:middle" }
            - if !bug[:assignments].empty?
              %ul
                - bug[:assignments].each do |assignment|
                  %li= assignment[:tester] + ' (' + assignment[:assignment] + ')'
- else
  No bug found

