!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= "Whatsnew" + yield(:title)
    %meta{:content => content_for?(:description) ? yield(:description) : "Whatsnew", :name => "description"}/
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      /= render 'layouts/navigation'
      #my-navigation
        You are working as
        = text_field_tag "user_name"
        = "@" + Settings.email_server_url
        = button_tag "Save"
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
